body{
  	font-family: "Roboto","Microsoft YaHei";
  	/*-webkit-font-smoothing:subpixel-antialiased;*/
}

a:link, a:visited{
    color: #262840;
}

a:hover{
    color: #485D73;
	outline: 0;
    text-decoration: none;
}

a:active{
    color: #485D73;
}

p{
    margin-bottom: 10px;
    line-height: 1.6em;
}


li{
    list-style:none;
}

ul{
	margin: 0;
	padding: 0;
}

section{
	padding: 1em;
}

nav{
	background-image: -moz-linear-gradient(#FFF,#EAEAEA);
	border-bottom: 1.5px solid #DDD;
	width: 100%;
	opacity:0.9;
	z-index:10;
	position: fixed;
}

/*列表间距*/
nav .list-inline li,footer .list-inline li{
	padding: 1em;
}

footer .list-inline li{
	padding: 0.6em;
	padding-left:0;
}

#Title li{
	list-style: circle;
	padding: 0.2em;
}

header,footer{
	height: 100px;
}

footer{
	width: 100%;
	font-size: 9pt;
	opacity: 0.6;
}

/*表单标签*/

input[type="text"],
textarea{
	border-radius: 2px 2px;
	border: 1px solid #EAEAEA;
	text-indent: 0.5em;
	transition-delay:0.05s;
}

button{
	border-radius: 2px 2px;
	border: 0;
	background: #262840;
	color: #CCC;
	padding: 0.5em;
	opacity: 0.9;
}

input[type="text"]{
	width: 220px;
	height: 30px;
}



.navbar-brand{
	float: left;
	width: 40px;
	height: 40px;
	margin: 5px 15px 5px -5px;
}

.container{
	width: 970px !important;
	margin:0 auto;
	/*background: #CCC;*/
}

.form-group{
	padding: 0.5em;
}

.list-inline li{
	float: left;
}

.page-header{
	padding: 0 1em;
	padding-bottom: 2em;
}

.loginDisplay{
    float:right;
    padding:1em;
}

.img-cover{
	width: 100%;
	height: 100%;
}

#wrap{ 
	padding: 0;
	margin-left: 1em;
}
.bot{ 
	height:40%; 
	position:absolute; 
	background: #262840;
	bottom: 0;
	color: #FFF;
	padding: 2em;
	display:none;
}
#wrap:hover .bot{ 
	display:block;
	opacity: 0.8;
}

#Slider{
	/*background: #CCC;*/
	/*border: 1px solid #000;*/
}

/*#Slider-Header{
	background: #262840;
	color: #FFF;
}*/

#Sort{
	
}

#Description{
	background: #EAEAEA;
	text-indent: 2em;
	font-size: 10pt;
	padding: 0.8em;
	opacity: 0.7;
}

#Title{
	padding: 1em;
	padding-left: 6em;
	/*border-right: 1px solid #EAEAEA;*/
}

#Article{
	opacity: 0.7;
}

@font-face{
	font-family: Roboto;
	src:url('../font/Roboto-Regular.ttf');
	src:local('Roboto Regular'), url('../font/Roboto-Regular.ttf') format('truetype');
	
}

/*CSS过渡动画*/

button:hover,
button:focus,
textarea:hover,
textarea:focus,
input[type="text"]:hover,
input[type="text"]:focus{
	box-shadow: 0px 0px 1px #262840;
}

button:hover,
button:focus{
	color: #FFF;
}